version: '3.8'

services:
  # --- 1. Message Broker (RabbitMQ) - The New Postman ---
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"   # Port for internal communication
      - "15672:15672" # Port for Management UI (Dashboard)
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  # --- 2. Inventory Service ---
  inventory_service:
    build: ./inventory_service
    container_name: inventory_service
    ports:
      - "8002:8000"
    depends_on:
      - inventory-database
      - rabbitmq
    environment:
      - DATABASE_URL=postgresql://user:password@inventory-database/inventory_db
      - RABBITMQ_HOST=rabbitmq

  inventory-database:
    image: postgres:15
    container_name: inventory-database
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=inventory_db
    ports:
      - "5432:5432"

  # --- 3. Payment Service ---
  payment_service:
    build: ./payment_service
    container_name: payment_service
    ports:
      - "8003:8000"
    depends_on:
      - payment-database
      - rabbitmq
    environment:
      - DATABASE_URL=postgresql://user:password@payment-database/payment_db
      - RABBITMQ_HOST=rabbitmq

  payment-database:
    image: postgres:15
    container_name: payment-database
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=payment_db
    ports:
      - "5433:5432"

  # --- 4. Order Service ---
  order_service:
    build: ./order_service
    container_name: order_service
    ports:
      - "8001:8000"
    depends_on:
      - order-database
      - rabbitmq
    environment:
      - DATABASE_URL=postgresql://user:password@order-database/order_db
      - RABBITMQ_HOST=rabbitmq

  order-database:
    image: postgres:15
    container_name: order-database
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=order_db
    ports:
      - "5434:5432"